.page.cards
  .deck
    h2= model.name
    a.btn.btn-default(type="button", href=model.flashURL) Flash me!

    .card-form-wrapper(data-hook='card-form-wrapper')
    ul.card-collection(data-hook='card-collection')