.card-form-wrapper
  h3 Create a new card

  form.card.card-form(data-hook='card-form')
    div(data-hook='field-container')
    a.flip-card(href='', role='button') Flip card over
    button(role='submit') Done
