.card-form-wrapper
  p Create a new card

  form.card.card-form(data-hook='card-form')
    div(data-hook='field-container')
    a.edit-front(href='', role='button') Edit Front
    a.edit-back(href='', role='button') Edit Back
    button(role='submit') Done
