html {
  font: 14px "Helvetica Neue", sans-serif;
}
.main-content {
  padding-left: 2em;
}
.hidden {
  display: none;
}
a:hover {
  text-decoration: underline;
}
.card {
  background-color: #ffd236;
  border-left: 2px solid #007c92;
  border-top: 2px solid #007c92;
  border-right: 2px solid #010101;
  border-bottom: 2px solid #010101;
  padding: 1em;
  margin-right: 1em;
  width: 97%;
  height: 220px;
}
.card p.card-text {
  margin-top: 1em;
  font-size: 2em;
}
.card label {
  font-weight: normal;
}
.card .back {
  display: none;
}
.card.back-is-active .back {
  display: block;
}
.card.back-is-active .front {
  display: none;
}
.card-input-view textarea {
  font-size: 2em;
  width: 100%;
  height: 4em;
}
.card-form {
  position: relative;
}
.card-form a {
  position: absolute;
  bottom: 0.5em;
}
.card-form a.flip-card {
  left: 1em;
}
.card-form a.submit {
  right: 1em;
}
.card-input-view[data-name='back'] {
  display: none;
}
.back-is-active .card-input-view[data-name='back'] {
  display: block;
}
.back-is-active .card-input-view[data-name='front'] {
  display: none;
}
.card-list-item {
  list-style-type: none;
  margin: 0.5em 0 0 0;
}
.card-collection,
.card-collection ul {
  padding: 0;
}
.card-list-item span {
  margin-right: 0.5em;
}
.card-input-view label {
  width: 100%;
}
