.wrapper
  nav.navbar.navbar-default
    .container-fluid
    ul.nav.navbar-nav
      li
        a(href='/cards') Cards
      li
        a(href='/flash') Flash
  .main-content
    h1 PandaFlash.me
    .page-container(data-hook='page-container')
